.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card_container {
	width: 200px;
	height: 300px;
}

.card {
	width: 100%;
	height: 100%;
	transition: transform 1s ease-in-out;
	transform-style: preserve-3d;
}

.card_container:hover .card {
	transform: rotateY(180deg);
}

.card figure {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
}

.card .front {
	background: lightpink;
	backface-visibility: visible;
}

.card .back {
	background: lightseagreen;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}